body {
    background-color: white;
}

section img {
    width: 20%;
	margin:20px 10px;
}

.main {
    display: flex;
    width: 60%;
    margin: auto;
    box-shadow: 0 1px 9px white;
    border-radius: 4px;
    margin-top: 30px;
	background-color:#F5F5F5;
}

.main img {
    width: 50%;
    height: 420px;
}

.container {
    border-radius: 5px;
    width: 60%;
	height:300px;
	box-shadow: 0 1px 9px rgb(207, 207, 207);
	margin:50px 20px;
	padding:20px;
}

.main1 input {
    margin-bottom: 20px;
	border:none;
	border-bottom:2px solid red;
	width:80%;
	margin-top:10px;
	
}

.lo button {
    padding: 10px;
    background-color: #51B037;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width:30%;
	border-radius:20px;
}

input[type="textbox"] {
    padding: 10px 10px 10px 50px; 
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRs_rWILOMx5-v3aXwJu7LWUhnPceiKvvDg&s') no-repeat;
    background-size: 30px;
    background-position: 10px center;
}
input[type = "password"] {
	background:url('https://cdn-icons-png.flaticon.com/512/1804/1804429.png')no-repeat;
	padding:10px 10px 10px 50px;
	background-size:30px;
	background-position:10px center;
} 

footer
{
	text-align:center;
	margin-top:20px;
	color:grey;
	font-family:'High Tower Text';
} 
.link a
{
	text-decoration:none;
	color:green;
}	
.logo
{
	 width:20px;
	 height:20px;
} 